.scramble {
    cursor: default;
    font-size: 2em;
    text-align: center;
}

.clue {
    background-color: #0e80ef;
    border: 2px inset #0e80ef;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}

.letter {
    background-color: saddlebrown;
    border: 2px outset saddlebrown;
    color: white;
    height: 46px;
    line-height: 46px;
    width: 46px;
}

.pointer {
    cursor: pointer;
}

.clue > .letter {
    margin: 0 2px;
}

.clue > .letter:first-of-type {
    margin: 0 2px 0 0;
}

.clue > .letter:last-of-type {
    margin: 0 0 0 2px;
}

.answer {
    align-items: center;
    padding: 5px;
}

.hidden .answer {
    opacity: 0;
}

.answer-space {
    background-color: goldenrod;
    border: 2px inset goldenrod;
    height: 46px;
    position: relative;
    width: 46px;
}

.circled {
    border: 2px solid black;
    border-radius: 50%;
    height: 42px;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
}

.focused {
    height: 48px;
    pointer-events: none;
    position: absolute;
    left: 50%;
    opacity: 0.5;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
}

.answer-space:focus .focused {
    background-color: cornflowerblue;
    border: 2px inset cornflowerblue;
}

.answer-character {
    margin: -2px;
}

.solved {
    color: green;
    height: 32px;
    margin-right: 5px;
    width: 32px;
}
